name-hover:hover {
    background-color: black
}
h3{
    color: blue;
}

p{
    color: rgb(226, 43, 83);
    background-color: rgb(135, 236, 236);
}

p{
    outline: 1px solid rgb(221, 158, 158);
    width: 50%;
}

#HeyLadies{
    color: rgb(15, 92, 66);
}

.recordList{
    text-decoration: overline;
}

.moveme {
    width: 100px;
    height: 100px;
    background-color: black;
    position: fixed;
    top: 0px;
    right: 0px;
}

.hover:hover {
    background-color: blueviolet;
}

.TurnUp{
    text-transform: capitalize;
}

p{font-size: 14px;}
h3{font-size: 14px;}

div{
    width: 100% 
}

div{background-color: rgb(255, 187, 0); max-width: ;}

/* div{background-color: rgb(255, 187, 0); width: 50%;} */
/*  This is my change*/
.table {
   background-color: purple;
}


form{
    padding: 15px;
    width: 20%;
    background-color: rgb(204, 201, 201);
    font-style: italic;
    border-style: solid;
    font-weight: 900px;
}
input[type=button] {
    color: black;
    background-color: rbg(0,200,0);
    padding: 5px;
}
input[type=button]:hover{
    border: solid;
    background-color: rbg(0,230,0);
}
input[type=text]:focus {
    background-color: rbg(0,300,0);
    color: black;
    width: 100%;
    transition: 2s;
}

<!-- im replacing this -->